@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ToRight1 {
    0% {
        max-width: 0;
    }

    100% {
        max-width: 90%;
    }
}
@keyframes ToRight2 {
    0% {
        max-width: 0;
    }

    100% {
        max-width: 80%;
    }
}
@keyframes ToRight3 {
    0% {
        max-width: 0;
    }

    100% {
        max-width: 82%;
    }
}
@keyframes ToRight4 {
    0% {
        max-width: 0;
    }

    100% {
        max-width: 74%;
    }
}
@keyframes ToRight5 {
    0% {
        max-width: 0;
    }

    100% {
        max-width: 80%;
    }
}
@keyframes ToRight6 {
    0% {
        max-width: 0;
    }

    100% {
        max-width: 75%;
    }
}
@keyframes ToRight7 {
    0% {
        max-width: 0;
    }

    100% {
        max-width: 80%;
    }
}
@keyframes ToRight8 {
    0% {
        max-width: 0;
    }

    100% {
        max-width: 85%;
    }
}
#navbar, #navbar1 {
    transition: top .5s;
}